{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h2 class="display-4">Choose Lesson:</h2>
    <form method="post">
      <select name="lesson_number">
        {% for i in range(1,37) %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
      <input type="submit" name="Submit" value="Submit">
    </form>
    <br>
    <p class="lead">Lesson: {{lesson_number}}</p>
  </div>
</div>

<br>

<div class="container-fluid">
  <h3>I managed to follow what was taught:</h3>
  <ul class="list-group">
    {% for response in order %}
    {% for response_follow in responses_follow %}
    {% if response_follow[1] == response %}
    <li class="list-group-item {{color[response]}}">{{response_follow[1]}} : {{response_follow[0]}}</li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
</div>

<div class="container-fluid">
  <h3>I managed to complete the work that was given:</h3>
  <ul class="list-group">
    {% for response in order %}
    {% for response_complete in responses_complete %}
    {% if response_complete[1] == response %}
    <li class="list-group-item {{color[response]}}">{{response_complete[1]}} : {{response_complete[0]}}</li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
</div>

<div class="container-fluid">
  <h3>The pace was suitable for me:</h3>
  <ul class="list-group">
    {% for response in order %}
    {% for response_pace in responses_pace %}
    {% if response_pace[1] == response %}
    <li class="list-group-item {{color[response]}}">{{response_pace[1]}} : {{response_pace[0]}}</li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ul>
</div>


<div class="container-fluid">
  <h3>Were there any problems you'd like to highlight? This may be shared, without identifying you:</h3>
  <ul class="list-group">
    {% for response_problems in responses_problems %}
    {% if current_user.is_authenticated %}
    <li class="list-group-item list-group-item-secondary"><h5 class="mb-1">Index: {{response_problems["student_index"]}}</h5>{{response_problems["problems"]}}</li>
    {% else %}
    <li class="list-group-item list-group-item-secondary">{{response_problems["problems"]}}</li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="container-fluid">
  <h3>Additional Question:</h3>
  <ul class="list-group">
    {% for response_additional in responses_additional %}
    {% if current_user.is_authenticated %}
    <li class="list-group-item list-group-item-secondary"><h5 class="mb-1">Index: {{response_additional["student_index"]}}</h5>{{response_additional["additional_qn"]}}</li>
    {% else %}
    <li class="list-group-item list-group-item-secondary">{{response_additional["additional_qn"]}}</li>
    {% endif %}
    {% endfor %}
  </ul>
</div>


{% endblock %}
